.rating {
  background-color: #343a40;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  padding: 1.5rem;
}

/* .selected_body_details p {
  line-height: 1.4rem;
} */

.btn-add {
  background-color: rgb(103, 65, 217);
  width: 100%;
  border: none;
  border-radius: 32px;
  font-size: 1rem;
  font-weight: 700;
  color: #dee2e6;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
}

.btn-add:disabled {
  background-color: #6c757d;
  color: white;
  cursor: default;
}
