.modal-overlay {
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal-container {
  background: #111;
  color: white;
  width: 700px;
  max-width: 90%;
  border-radius: 10px;
  padding: 20px 40px;
  position: relative;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  margin: 0px 20px;
  max-height: 570px;
  overflow: auto;
}

.modal-content h1 {
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.modal-content ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  align-items: flex-start;
}

.modal-poster {
  width: 200px;
  border-radius: 8px;
}

.modal-details {
  flex: 1;
}

.modal-description {
  margin-top: 10px;
  line-height: 1.5;
  color: #ccc;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 2.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
