.movieItem {
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  position: relative;
}

.movieItem img {
  width: 45px;
  height: 65px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.details h2 {
  font-size: 18px;
}

.btn-delete {
  position: absolute;
  right: 2.4rem;
  height: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: #fa5252;
  color: #212529;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-delete:hover {
  background-color: #e03131;
}
