.list {
  position: relative;
  border-radius: 8px;
  background-color: #2b3035;
  height: 40rem;
  overflow: auto;
  padding: 0.8rem 0;
}

.minimise {
  top: 0.8rem;
  right: 0.8rem;
}

.movie-count {
  margin: 0.8rem 2.2rem 1rem 2.2rem;
  color: #adb5bd;
}

.view-more-btn {
  background-color: transparent;
  border: none;
  color: #7950f2;
  cursor: pointer;
  font-size: 1rem;
}

.view-more-btn:hover {
  text-decoration: underline;
}
