.header {
  background-color: #6741d9;
  border-radius: 8px;
  padding: 18px 2rem;
  /* height: 3.2rem; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header h2 {
  font-size: 1.5rem;
}

.search {
  padding: 12px 16px;
  background-color: #7950f2;
  border: none;
  border-radius: 4px;
  width: 30rem;
  font-size: 16px;
  color: #adb5bd;
}

.search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  /* transform: translateY(-2px); */
}
