* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: #dee2e6;
  background-color: #212529;
  padding: 1rem 2.4rem;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.main {
  flex-grow: 1;
  /* height: 100%; */
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: repeat(2, 450px);
  justify-content: center;
  gap: 2.4rem;
}

.footer {
  padding: 1.5rem;
  text-align: center;
}
